.container-fluid{
    padding-top: 5vh;
    padding-bottom: 30vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: skyblue;
}


h2{
    color: darkcyan;
    font-family: avenir;
    font-size: 50;
}

h3{
    color: white;
    font-family: avenir;
    font-size: 40;


}

h4{
    color: white;
    font-family: avenir;
    font-size: 40;

}

#clockdiv{
	font-family: avenir;
	color: lightblue;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 30px;
	border-radius: 30px;
	background: darkcyan;
	display: inline-block;
}

#clockdiv div > span{
	padding: 20px;
	border-radius: 5px;
	background: lightblue;
	display: inline-block;
}

#minutes, #seconds{
    font-weight: bold;
    color: black;
}

.smalltext{
	padding-top: 5px;
	font-size: 30px;
}

.backIcon{
    width: 7%;
}

p{
    width: 115%;

    text-align: center;
    display:block;
    margin:auto;

}

/**************************
	FOOTER
**************************/

footer {
	font-size: 1em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: skyblue;
}
footer p{
    width: 100%;
	font-size: 1em;
	text-align: center;
	clear: both;
	color: skyblue;
}
