body {
    background-color: white;
}
h1 {
    text-align: center;
    font-size: 50px;
    display: block;
    color: white;
    font-family: avenir;
}
h2 {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: avenir;
}

form {
    margin: 20px auto;
    width: 320px;
    color: grey;
}

input {
    padding: 10px;
    font-size: inherit;
    text-align: center;
}
input[type = "text"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid grey;
}
input[type = "number"] {
    display: block;
    margin-bottom: 25px;
    width: 30%;
    border: 2px solid grey;
}
input[type = "email"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid grey;
}

input[type = "submit"] {
    display: block;
    margin-bottom: 25px;
    width: 50%;
}
.container-fluid{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: skyblue;
}

.backIcon{
    width: 7%;
}

#lastUser{
    color: grey;
}

/**************************
	FOOTER
**************************/

footer {
	font-size: 1em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: skyblue;
}
footer p{
	font-size: 1em;
	text-align: center;
	clear: both;
	color: skyblue;
}
