h1 {
    color: white;
    font-family: avenir;
}

h2 {
    color: grey;
    font-family: avenir;
}

p {
    font-size: 40px;

}
form {
    margin: 20px auto;
    width: 320px;
    color: grey;
}

.lead {
    text-align:right;

}
.jumbotron{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: skyblue;
}
.jumbotron, h1{
    color:white!important;
}
.jumbotron, h2{
    color:darkcyan;
}

.container-fluid{
    align-content: center;
}

.btn{
    border: solid #008FA3 !important;
    border-radius: 25px !important;
    border-width: 2px !important;
}
.btn:hover{

    background: skyblue;
}





p, .btn{
    color: #008FA3;
    font-family: avenir;
}

.activity{
    margin-top: 5vh;
    padding-bottom: 20vh;
    padding-top: 5vh;
    padding-left:5vw;
    padding-right:5vw;
    background-color: #0092A6;
    color:white !important;
}
.activity-info{

}

@import "bourbon";

$n:6;
$w:20px;//dot size
$e:4;//dot margin factor
$hsl:160;//start color
$bg:#333;

html{
	background:$bg;
  height: 100%;
  backface-visibility: hidden;
}


/**************************
	FOOTER
**************************/

footer {
	font-size: 1em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: skyblue;
}
footer p{
	font-size: 1em;
	text-align: center;
	clear: both;
	color: skyblue;
}
