
h1{
    color: darkcyan;
    font-family: avenir;
    font-size: 50;
  
}


body{
	text-align: center;
	background: white;
  font-family: avenir;

}




#clockdiv{
	font-family: avenir;
	color: white;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 30px;
	border-radius: 30px;
	background: darkcyan;
	display: inline-block;
}

#clockdiv div > span{
	padding: 20px;
	border-radius: 5px;
	background: white;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 30px;
}